## 마을 주민 이름이 전부 꼬부랑어라 불편하다

고치자

In [3]:
from os import path
import os
from pprint import pprint


import pandas as pd
import numpy as np

일단 마을 주민 파일을 다 간을 봅니다.

In [4]:
df = pd.read_csv('./datasets/acnh/villagers.csv')
dfc = pd.read_csv('./datasets/acnh-catalog/villagers.csv')

df.info()
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 391 non-null    object
 1   Icon Image           391 non-null    object
 2   Photo Image          391 non-null    object
 3   House Image          391 non-null    object
 4   Species              391 non-null    object
 5   Gender               391 non-null    object
 6   Personality          391 non-null    object
 7   Subtype              391 non-null    object
 8   Hobby                391 non-null    object
 9   Birthday             391 non-null    object
 10  Catchphrase          391 non-null    object
 11  Favorite Song        391 non-null    object
 12  Favorite Saying      391 non-null    object
 13  Style 1              391 non-null    object
 14  Style 2              391 non-null    object
 15  Color 1              391 non-null    object
 16  Color 2              391 non-null    object
 17  Default Clothing     391 non-null    float64
 18  Wallpaper            391 non-null    object
 19  Flooring             391 non-null    object
 20  Furniture List       391 non-null    object
 21  Furniture Name List  391 non-null    object
 22  Filename             391 non-null    object
 23  Unique Entry ID      391 non-null    object
dtypes: float64(1), object(23)
memory usage: 73.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             391 non-null    object
 1   Species          391 non-null    object
 2   Gender           391 non-null    object
 3   Personality      391 non-null    object
 4   Hobby            391 non-null    object
 5   Birthday         391 non-null    object
 6   Catchphrase      391 non-null    object
 7   Favorite Song    391 non-null    object
 8   Style 1          391 non-null    object
 9   Style 2          391 non-null    object
 10  Color 1          391 non-null    object
 11  Color 2          391 non-null    object
 12  Wallpaper        391 non-null    object
 13  Flooring         391 non-null    object
 14  Furniture List   391 non-null    object
 15  Filename         391 non-null    object
 16  Unique Entry ID  391 non-null    object
dtypes: object(17)
memory usage: 52.1+ KB

In [5]:
print(df.iloc[299]['Name'])
print(dfc.iloc[299]['Name'])

Renée
Renée

서로 다른 칼럼을 알아봅니다.

In [6]:
df_cols = set(df.columns)
dfc_cols = set(dfc.columns)

print('symdiff')
print(df_cols ^ dfc_cols)

print('df - dfc')
print(df_cols - dfc_cols)

print('dfc - df')
print(dfc_cols - df_cols)

symdiff
{'Default Clothing', 'Subtype', 'Icon Image', 'House Image', 'Favorite Saying', 'Furniture Name List', 'Photo Image'}
df - dfc
{'Default Clothing', 'Subtype', 'Icon Image', 'House Image', 'Favorite Saying', 'Furniture Name List', 'Photo Image'}
dfc - df
set()

서로 순서가 같다는 것이 아까 밝혀졌으므로 서로 합치기가 쉬울 것 같습니다.

생각해보니 그보다는 `dfc`는 아예 필요가 없을 것 같기도 합니다.

koname.txt 를 번역 사전으로 만들어 봅니다.

In [7]:
names = pd.read_csv('./datasets/koname.txt', delimiter='\t')
names.info()
print(names.head())
trans = dict(zip(names['en'], names['ko']))

print('num names:', len(trans))

# for n in sorted(trans):
#     print(n)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      463 non-null    object
 1   en      463 non-null    object
 2   ko      463 non-null    object
dtypes: object(3)
memory usage: 11.0+ KB
     id      en       ko
0   alp   Cyrus       리포
1   dga  Copper      경찰관
2   doc  Wilbur      로드리
3  tkkB   DJ KK  DJ K.K.
4   dgb  Booker      경찰관
num names: 463

이름 사전으로 새 열을 만들어 봅니다.

In [15]:
df['Korean Name'] = df['Name'].copy()
df['Korean Name'] = df['Korean Name'].apply(lambda v: trans.get(v))
print(df['Korean Name'].head())
df.info()

0      일섭
1      2호
2    아그네스
3      우락
4    알베르트
Name: Korean Name, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 391 non-null    object
 1   Icon Image           391 non-null    object
 2   Photo Image          391 non-null    object
 3   House Image          391 non-null    object
 4   Species              391 non-null    object
 5   Gender               391 non-null    object
 6   Personality          391 non-null    object
 7   Subtype              391 non-null    object
 8   Hobby                391 non-null    object
 9   Birthday             391 non-null    object
 10  Catchphrase          391 non-null    object
 11  Favorite Song        391 non-null    object
 12  Favorite Saying      391 non-null    object
 13  Style 1              391 non-null    object
 14  Style 2              391 non-null    object
 15  Color 1              391 non-null    object
 16  Color 2              391 non-null    object
 17  Default Clothing     391 non-null    float64
 18  Wallpaper            391 non-null    object
 19  Flooring             391 non-null    object
 20  Furniture List       391 non-null    object
 21  Furniture Name List  391 non-null    object
 22  Filename             391 non-null    object
 23  Unique Entry ID      391 non-null    object
 24  Korean Name          391 non-null    object
dtypes: float64(1), object(24)
memory usage: 76.5+ KB

이름을 바꾼 마을 주민을 저장해 놓습니다.
기왕 하는거 엑셀이면 더 좋을 것 같습니다.

In [17]:
df.to_excel('./datasets/villagers.xlsx')

special npc 도 주민과 나름 비슷하므로 지금 처리할 수 있나 봐야 할 것 같습니다.

In [53]:
npcs = pd.read_csv('./datasets/acnh/special npcs.csv')
npcs.info()
npcs.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             63 non-null     object
 1   Icon Image       22 non-null     object
 2   Photo Image      54 non-null     object
 3   Gender           63 non-null     object
 4   Gender (Asia)    63 non-null     object
 5   Version Added    29 non-null     object
 6   NPC ID           63 non-null     object
 7   Internal ID      63 non-null     float64
 8   Birthday         63 non-null     object
 9   Unique Entry ID  63 non-null     object
dtypes: float64(1), object(9)
memory usage: 5.0+ KB

,Name,Icon Image,Photo Image,Gender,Gender (Asia),Version Added,NPC ID,Internal ID,Birthday,Unique Entry ID
0,Cyrus,https://acnhcdn.com/latest/NpcIcon/alp.png,https://acnhcdn.com/latest/NpcPoster/NpcSpAlp.png,Male,Male,1.2.0,alp,0.0,1/26,yJQuzNGtgcSbWw47g
1,Reese,https://acnhcdn.com/latest/NpcIcon/alw.png,https://acnhcdn.com/latest/NpcPoster/NpcSpAlw.png,Female,Female,1.2.0,alw,1.0,7/5,MKLPGvYfpDwWCEWQ7
2,Chip,NaN,https://acnhcdn.com/latest/NpcPoster/NpcSpBev.png,Male,Male,NaN,bev,2.0,12/9,XGGxy4Wx86EDDH57S
3,C.J.,NaN,NaN,Male,Male,1.0.0,bey,59.0,3/7,ztkxCvQbcCJYQEgJ7
4,Joan,NaN,https://acnhcdn.com/latest/NpcPoster/NpcSpBoa.png,Female,Female,NaN,boa,4.0,1/8,g489RXNAdbSB7Jdtf

Gender 와 Gender (Asia) 가 따로 있는게 뭔가 엄청 신경쓰인다!

In [54]:
print(npcs[npcs['Gender'] != npcs['Gender (Asia)']])

# npcs['Gender (Asia)'].isnull()

       Name                                  Icon Image  \
9   Saharah  https://acnhcdn.com/latest/NpcIcon/cml.png
16   Gracie                                         NaN
29   Blanca                                         NaN

                                          Photo Image  Gender Gender (Asia)  \
9   https://acnhcdn.com/latest/NpcBromide/NpcSpCml...  Female          Male
16  https://acnhcdn.com/latest/NpcPoster/NpcSpGrf.png  Female          Male
29  https://acnhcdn.com/latest/NpcPoster/NpcSpMka.png  Female          Male

   Version Added NPC ID  Internal ID Birthday    Unique Entry ID
9          1.0.0    cml          7.0    11/10  x753Z7JdmLFZRCwGr
16           NaN    grf         10.0    11/14  chZz2xBGZBy2g9L8e
29           NaN    mka         44.0      2/8  Ndgae4bSokoBtb97u

`special npcs` 에도 똑같은 사전 번역을 합니다.

In [55]:
npcs['Korean Name'] = npcs['Name'].copy()
npcs['Korean Name'] = npcs['Korean Name'].apply(lambda v: trans.get(v))
npcs['Korean Name'].info()
print(npcs['Korean Name'])
npcs[npcs['Korean Name'].isnull()]

<class 'pandas.core.series.Series'>
RangeIndex: 63 entries, 0 to 62
Series name: Korean Name
Non-Null Count  Dtype
--------------  -----
62 non-null     object
dtypes: object(1)
memory usage: 632.0+ bytes
0        리포
1        리사
2        뚱달
3       저스틴
4       무파라
      ...
58       고북
59     프랭클린
60       스승
61      고파유
62    낯선고양이
Name: Korean Name, Length: 63, dtype: object

,Name,Icon Image,Photo Image,Gender,Gender (Asia),Version Added,NPC ID,Internal ID,Birthday,Unique Entry ID,Korean Name
20,Gullivarrr,NaN,NaN,Male,Male,1.3.0,gulB,69.0,5/25,Qy6ZZFjpN2BNWP4gB,None

위에 한글 이름이 없는 이 녀석은 한국 이름이 해적이라 캅니다. 수동으로 고치겠습니다.