## 마을 주민 이름이 전부 꼬부랑어라 불편하다

고치자

In [7]:
from os import path
import os
from pprint import pprint


import pandas as pd
import numpy as np

일단 마을 주민 파일을 다 간을 봅니다.

In [11]:
df = pd.read_csv('./datasets/acnh/villagers.csv')
dfc = pd.read_csv('./datasets/acnh-catalog/villagers.csv')

df.info()
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 391 non-null    object
 1   Icon Image           391 non-null    object
 2   Photo Image          391 non-null    object
 3   House Image          391 non-null    object
 4   Species              391 non-null    object
 5   Gender               391 non-null    object
 6   Personality          391 non-null    object
 7   Subtype              391 non-null    object
 8   Hobby                391 non-null    object
 9   Birthday             391 non-null    object
 10  Catchphrase          391 non-null    object
 11  Favorite Song        391 non-null    object
 12  Favorite Saying      391 non-null    object
 13  Style 1              391 non-null    object
 14  Style 2              391 non-null    object
 15  Color 1              391 non-null    object
 16  Color 2              391 non-null    object
 17  Default Clothing     391 non-null    float64
 18  Wallpaper            391 non-null    object
 19  Flooring             391 non-null    object
 20  Furniture List       391 non-null    object
 21  Furniture Name List  391 non-null    object
 22  Filename             391 non-null    object
 23  Unique Entry ID      391 non-null    object
dtypes: float64(1), object(23)
memory usage: 73.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             391 non-null    object
 1   Species          391 non-null    object
 2   Gender           391 non-null    object
 3   Personality      391 non-null    object
 4   Hobby            391 non-null    object
 5   Birthday         391 non-null    object
 6   Catchphrase      391 non-null    object
 7   Favorite Song    391 non-null    object
 8   Style 1          391 non-null    object
 9   Style 2          391 non-null    object
 10  Color 1          391 non-null    object
 11  Color 2          391 non-null    object
 12  Wallpaper        391 non-null    object
 13  Flooring         391 non-null    object
 14  Furniture List   391 non-null    object
 15  Filename         391 non-null    object
 16  Unique Entry ID  391 non-null    object
dtypes: object(17)
memory usage: 52.1+ KB

In [31]:
print(df.iloc[299]['Name'])
print(dfc.iloc[299]['Name'])

Renée
Renée

서로 다른 칼럼을 알아봅니다.

In [33]:
df_cols = set(df.columns)
dfc_cols = set(dfc.columns)

print('symdiff')
print(df_cols ^ dfc_cols)

print('df - dfc')
print(df_cols - dfc_cols)

print('dfc - df')
print(dfc_cols - df_cols)

symdiff
{'Photo Image', 'Default Clothing', 'Subtype', 'Furniture Name List', 'Icon Image', 'House Image', 'Favorite Saying'}
df - dfc
{'Photo Image', 'Default Clothing', 'Icon Image', 'House Image', 'Subtype', 'Furniture Name List', 'Favorite Saying'}
dfc - df
set()

서로 순서가 같다는 것이 아까 밝혀졌으므로 서로 합치기가 쉬울 것 같습니다.

생각해보니 그보다는 `dfc`는 아예 필요가 없을 것 같기도 합니다.

koname.txt 를 번역 사전으로 만들어 봅니다.

In [47]:
names = pd.read_csv('./datasets/koname.txt', delimiter='\t')
names.info()
print(names.head())
trans = dict(zip(names['en'], names['ko']))

print('num names:', len(trans))

# for n in sorted(trans):
#     print(n)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      463 non-null    object
 1   en      463 non-null    object
 2   ko      463 non-null    object
dtypes: object(3)
memory usage: 11.0+ KB
     id      en       ko
0   alp   Cyrus       리포
1   dga  Copper      경찰관
2   doc  Wilbur      로드리
3  tkkB   DJ KK  DJ K.K.
4   dgb  Booker      경찰관
num names: 463