# 유사성 분석을 테스트하기 위한 노트북입니다.

## 준비

쓸모없는 칼럼을 제거한 전용 데이터를 만듭니다.

이 작업은 엑셀이 더 편하므로 엑셀에서 합니다.

1. 특수 npc를 전부 날립니다. 특수 npc들은 속성이 너무 부족합니다.
2. `special` 열은 지웁니다.
3. `image_photo`, `image_house` 열도 지웁니다. `image_icon`은 혹시 모르니 남겨 두겠습니다.
4. `gender` 열을 지우고 `gender_asia`를 `gender`로 이름을 바꿉니다.
5. 마찬가지로 `personality_subtype`, `catchphrase`, `favorite_song`, `favorite_saying`, `tier`, `rank`도 사용자에게 질문할 수 없는 항목이므로 버립니다.
6. 나머지는 좀 더 생각이 필요하거나 코드로 해야 편한 작업들인 것 같습니다.
7. 빈 항목이 없도록 주의

In [20]:
import ast
import calendar
import datetime
from functools import partial

import numpy as np
import pandas as pd

In [3]:
chars = pd.read_excel(
  './datasets/characters-similarity.xlsx',
  sheet_name='Table1'
)

In [3]:
chars.info()
chars.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              390 non-null    object
 1   name_en         391 non-null    object
 2   name_ko         391 non-null    object
 3   image_icon      391 non-null    object
 4   species         391 non-null    object
 5   gender          391 non-null    object
 6   birthday        391 non-null    object
 7   birthday_month  391 non-null    int64
 8   birthday_day    391 non-null    int64
 9   personality     391 non-null    object
 10  hobby           391 non-null    object
 11  styles          391 non-null    object
 12  colors          391 non-null    object
dtypes: int64(2), object(11)
memory usage: 39.8+ KB

,id,name_en,name_ko,image_icon,species,gender,birthday,birthday_month,birthday_day,personality,hobby,styles,colors
0,admiral,Admiral,일섭,https://acnhcdn.com/latest/NpcIcon/brd06.png,Bird,Male,01-27,1,27,무뚝뚝,자연,['쿨'],"['검정색', '파랑색']"
1,agents,Agent S,2호,https://acnhcdn.com/latest/NpcIcon/squ05.png,Squirrel,Female,07-02,7,2,아이돌,운동,"['심플', '액티브']","['검정색', '파랑색']"
2,agnes,Agnes,아그네스,https://acnhcdn.com/latest/NpcIcon/pig17.png,Pig,Female,04-21,4,21,단순 활발,놀이,"['심플', '엘레강스']","['하양색', '핑크색']"
3,al,Al,우락,https://acnhcdn.com/latest/NpcIcon/gor08.png,Gorilla,Male,10-18,10,18,먹보,운동,['액티브'],"['하양색', '빨강색']"
4,alfonso,Alfonso,알베르트,https://acnhcdn.com/latest/NpcIcon/crd00.png,Alligator,Male,06-09,6,9,먹보,놀이,['심플'],"['빨강색', '파랑색']"

In [7]:
chars['styles'].iloc[0]

"['쿨']"

리스트들이 제대로 처리가 안 되어 있으니 변환합니다.

In [4]:
chars['styles'] = chars['styles'].apply(ast.literal_eval)
chars['colors'] = chars['colors'].apply(ast.literal_eval)
print(chars['styles'].head())
print(chars['colors'].head())

0           [쿨]
1     [심플, 액티브]
2    [심플, 엘레강스]
3         [액티브]
4          [심플]
Name: styles, dtype: object
0    [검정색, 파랑색]
1    [검정색, 파랑색]
2    [하양색, 핑크색]
3    [하양색, 빨강색]
4    [빨강색, 파랑색]
Name: colors, dtype: object

In [17]:
chars[['styles', 'colors']]

         styles       colors
0           [쿨]   [검정색, 파랑색]
1     [심플, 액티브]   [검정색, 파랑색]
2    [심플, 엘레강스]   [하양색, 핑크색]
3         [액티브]   [하양색, 빨강색]
4          [심플]   [빨강색, 파랑색]
..          ...          ...
386     [심플, 쿨]    [하양색, 회색]
387    [액티브, 쿨]   [초록색, 검정색]
388   [엘레강스, 쿨]  [오렌지색, 노랑색]
389    [고져스, 쿨]    [보라색, 회색]
390    [심플, 큐트]   [파랑색, 노랑색]

[391 rows x 2 columns]

## 계획

유사성 평가에 사용할 속성은 아래의 5개입니다.
- birthday
- hobby
- personality
- style
- color

이 중 style과 color는 한 개일 수도 있고 두 개일 수도 있어서 약간 골치가 아픕니다.

### 비교 주체 고르기

overlap 비스무리한 분석은 항목이 여러 개인 카테고리도 같거나 다르거나로 취급하기 때문에
모든 캐릭터의 특성이 한 눈에 보이는 테이블은 만들기가 곤란합니다.
따라서 실험용으로 사용할 캐릭터가 하나 필요합니다.

그냥 맨 위에 있는 일섭이란 놈으로 합시다. (admiral)

### 대략적인 과정

1. 사용자에게 질문을 받습니다.
2. 5가지 속성 중 2가지로 먼저 필터링을 해서 연산 수를 줄입니다.
3. 남은 3속성은 3차원이므로 3차원 스캐터 그래프로 유사성을 보여줄 수 있습니다.
4. 캐릭터가 대략 400명이고, 2가지 필터링을 거치고 나면 많아봐야 100명 쯤 남을 것입니다.
5. 남은 캐릭터에 대해 벡터 크기를 계산하고 정렬합니다.
6. 벡터 크기는 차이입니다. 앞에 오는 캐릭터가 유사한 캐릭터, 뒤에 오면 다른 것입니다.

### 어떤 속성으로 먼저 걸러야 하는가?

그건 좀 생각을 해 봐야 합니다.

기본적으로는 한번에 최대한 많이, 그리고 균일하게 걸러낼 수 있는 속성이 좋을 것입니다.

In [21]:
chars.groupby('hobby').count()['id']

hobby
교육    64
놀이    65
운동    66
음악    64
자연    65
패션    66
Name: id, dtype: int64

In [22]:
chars.groupby('personality').count()['id']

personality
느끼함      34
단순 활발    24
먹보       60
무뚝뚝      55
성숙함      55
아이돌      49
운동광      55
친절함      58
Name: id, dtype: int64

In [23]:
chars.groupby('birthday').count()['id']

birthday
01-01    1
01-02    1
01-03    1
01-04    1
01-05    1
        ..
12-27    1
12-28    1
12-29    2
12-30    1
12-31    1
Name: id, Length: 361, dtype: int64

필터를 두 번만 하면 100명이 아니라 10명도 안 남을 것 같습니다.

윤년이 생일인 녀석(몽셰르)이 있으니 1년은 366일인데 위에선 361개밖에 없는 걸 보니 빠진 일이 5개가 있는 모양입니다. 그래도 상관 없습니다.

## 대안

앞의 방법은 속성 중 2가지에 대한 평가가 완전히 옳다고 치고 걸러내는 것입니다.

하지만 속성 한번에 대략 1/7이 걸러지므로 두 번을 하고 나면 평균적으로 비교할 캐릭터는 10명 남짓밖에 남지 않을 것입니다. 아마 상당히 심심한 그래프가 될 겁니다.

대안은 5차원을 전부 사용하고 대신 3차원 스캐터 그래프에 `hue`, `size` 값에 변화를 주어 차원 2개를 어거지로 만들어 내는 것입니다.

단점:
  - 사람에게 보이는 가까운 거리와 계산 결과 가까운 거리가 다를 수 있습니다.
  - 따라서 보여주니까 뭔가 멋지긴 하지만 사실상 그래프로 유의미한 해석을 하는 것은 힘들 것입니다.

따라서, 만약 저렇게 한다면 `hue`와 `size`로 나타내는 속성은 좀 덜 중요한 것을 넣고 비중을 조절한다든지 해야 할 것입니다.

또한, 만약 위의 방법으로 할 것에 대비해 5속성 모두에 대해 유사성을 평가하는 논리를 결정해 두어야 합니다.

## 평가 방법

모든 방법은 자바스크립트와 파이썬 모두에서 구현 가능해야 합니다.

### `birthday`

일 수로 바꾸어 날짜 차이를 계산합니다.
주의사항은 생일이 2월 29일인 녀석이 있습니다.

```
diff = abs(yday2 - yday1) % 183
```

In [5]:
def diff_dob(yday1, yday2):
  diff = yday1 - yday2
  if abs(diff) < 182.5:
    return abs(diff)
  else:
    return 182.5*2 - abs(diff)

In [6]:
print(diff_dob(1, 365))

assert diff_dob(1, 365) == 1
assert diff_dob(364, 1) == 2
assert diff_dob(31, 59) == 28
assert diff_dob(59, 31) == 28

1.0

In [46]:
# calendar.isleap(datetime.date.today().year)

# today = datetime.date.today()
# today.timetuple().tm_yday

day = datetime.date(2022, 1, 1)
day.timetuple().tm_yday

1

### `hobby`, `personality`

단순하게 같으면 0, 다르면 1입니다.

### `colors`, `styles`

두 캐릭터의 교집합을 구해서 길이를 보고 2면 1, 1이면 0.5, 0이면 0입니다.

## 일섭에게 적용해보기

일섭을 기준으로 다른 모든 캐릭터와의 비교를 마치면 최종 유사도 테이블의 한 행이 완성됩니다.

In [53]:
chars.head()

,id,name_en,name_ko,image_icon,species,gender,birthday,birthday_month,birthday_day,personality,hobby,styles,colors
0,admiral,Admiral,일섭,https://acnhcdn.com/latest/NpcIcon/brd06.png,Bird,Male,01-27,1,27,무뚝뚝,자연,[쿨],"[검정색, 파랑색]"
1,agents,Agent S,2호,https://acnhcdn.com/latest/NpcIcon/squ05.png,Squirrel,Female,07-02,7,2,아이돌,운동,"[심플, 액티브]","[검정색, 파랑색]"
2,agnes,Agnes,아그네스,https://acnhcdn.com/latest/NpcIcon/pig17.png,Pig,Female,04-21,4,21,단순 활발,놀이,"[심플, 엘레강스]","[하양색, 핑크색]"
3,al,Al,우락,https://acnhcdn.com/latest/NpcIcon/gor08.png,Gorilla,Male,10-18,10,18,먹보,운동,[액티브],"[하양색, 빨강색]"
4,alfonso,Alfonso,알베르트,https://acnhcdn.com/latest/NpcIcon/crd00.png,Alligator,Male,06-09,6,9,먹보,놀이,[심플],"[빨강색, 파랑색]"

`species`, `gender`, `birthday_x` 열은 버려도 될 것 같습니다.

In [55]:
chars = chars.drop(columns=['species', 'gender'])
chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              390 non-null    object
 1   name_en         391 non-null    object
 2   name_ko         391 non-null    object
 3   image_icon      391 non-null    object
 4   birthday        391 non-null    object
 5   birthday_month  391 non-null    int64
 6   birthday_day    391 non-null    int64
 7   personality     391 non-null    object
 8   hobby           391 non-null    object
 9   styles          391 non-null    object
 10  colors          391 non-null    object
dtypes: int64(2), object(9)
memory usage: 33.7+ KB

In [7]:
# sims = pd.DataFrame(columns=chars['id'])
vectors = pd.DataFrame(
  columns=['id', 'birthday', 'hobby', 'personality', 'styles', 'colors']
)
vectors.head()

Empty DataFrame
Columns: [id, birthday, hobby, personality, styles, colors]
Index: []

In [19]:
REF = chars.iloc[0]
print(REF)

id                                                     admiral
name_en                                                Admiral
name_ko                                                     일섭
image_icon        https://acnhcdn.com/latest/NpcIcon/brd06.png
species                                                   Bird
gender                                                    Male
birthday                                                 01-27
birthday_month                                               1
birthday_day                                                27
personality                                                무뚝뚝
hobby                                                       자연
styles                                                     [쿨]
colors                                              [검정색, 파랑색]
Name: 0, dtype: object

In [69]:
# for row in chars.itertuples(index=False, name='char'):
  # print(row['id'])
TODAY_YEAR = datetime.date.today().year
TODAY_LEAP = calendar.isleap(TODAY_YEAR)
DAY_MOD = 183.0 if TODAY_LEAP else 182.5

def compare_simple(a, b):
  return 0.0 if a == b else 1.0

def compare_set(a, b):
  i = set(a) & set(b)
  return 1.0 - len(i)/max(len(a), len(b))

def to_yday(bdstr: str) -> int:
  m, d = map(int, bdstr.split('-'))
  return datetime.date(TODAY_YEAR, m, d).timetuple().tm_yday
  
def compare_yday(a: str, b: str):
  a = to_yday(a)
  b = to_yday(b)
  delta = abs(a - b)
  if delta < DAY_MOD:
    result = abs(delta)
  else:
    result = DAY_MOD*2 - delta
  return result / DAY_MOD

compare_hobby = partial(compare_simple, REF.hobby)
compare_personality = partial(compare_simple, REF.personality)
compare_colors = partial(compare_set, REF.colors)
compare_styles = partial(compare_set, REF.styles)
compare_birthday = partial(compare_yday, REF.birthday)

이제 한번 돌려봅니다.

하지만 그전에 df 연습;

In [17]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
df.loc[len(df)] = [4, 7, 10]
df

   a  b   c
0  1  4   7
1  2  5   8
2  3  6   9
3  4  7  10

---
여기부터 진짜로 합니다.
---

In [23]:
vectors['id'] = chars['id'].copy()
vectors.head()

        id birthday hobby personality styles colors
0  admiral      NaN   NaN         NaN    NaN    NaN
1   agents      NaN   NaN         NaN    NaN    NaN
2    agnes      NaN   NaN         NaN    NaN    NaN
3       al      NaN   NaN         NaN    NaN    NaN
4  alfonso      NaN   NaN         NaN    NaN    NaN

In [27]:
vectors['hobby'] = chars['hobby'].apply(compare_hobby)

In [29]:
vectors['personality'] = chars['personality'].apply(compare_personality)

In [47]:
vectors['colors'] = chars['colors'].apply(compare_colors)

In [48]:
vectors['styles'] = chars['styles'].apply(compare_styles)

In [76]:
vectors['birthday'] = chars['birthday'].apply(compare_birthday)

In [49]:
vectors.info()
vectors.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           390 non-null    object
 1   birthday     391 non-null    float64
 2   hobby        391 non-null    float64
 3   personality  391 non-null    float64
 4   styles       391 non-null    float64
 5   colors       391 non-null    float64
dtypes: float64(5), object(1)
memory usage: 18.5+ KB

        id  birthday  hobby  personality  styles  colors
0  admiral  0.000000    0.0          0.0     0.0     0.0
1   agents  0.427397    1.0          1.0     1.0     0.0
2    agnes  0.230137    1.0          1.0     1.0     1.0
3       al  0.276712    1.0          1.0     1.0     1.0
4  alfonso  0.364384    1.0          1.0     1.0     0.5

In [77]:
vectors['sum'] = vectors.loc[:, 'birthday':'colors'].sum(axis=1)
vectors['score'] = vectors['sum'].apply(lambda v: 5.0 - v)

In [78]:
vectors['distance'] = vectors.loc[:, 'birthday':'colors'].apply(
  lambda row: np.sqrt(sum(row**2)), axis=1
)

In [61]:
print(vectors.to_string())

           id  birthday  hobby  personality  styles  colors       sum     score  distance
0     admiral  0.000000    0.0          0.0     0.0     0.0  0.000000  5.000000  0.000000
1      agents  0.427397    1.0          1.0     1.0     0.0  3.427397  1.572603  1.784003
2       agnes  0.230137    1.0          1.0     1.0     1.0  4.230137  0.769863  2.013197
3          al  0.276712    1.0          1.0     1.0     1.0  4.276712  0.723288  2.019052
4     alfonso  0.364384    1.0          1.0     1.0     0.5  3.864384  1.135616  1.839232
5       alice  0.441096    1.0          1.0     1.0     1.0  4.441096  0.558904  2.048064
6        alli  0.219178    1.0          1.0     1.0     1.0  4.219178  0.780822  2.011974
7      amelia  0.189041    1.0          1.0     0.5     0.5  3.189041  1.810959  1.592400
8    anabelle  0.054795    1.0          1.0     1.0     0.5  3.554795  1.445205  1.803608
9     anchovy  0.098630    1.0          1.0     1.0     1.0  4.098630  0.901370  2.002430
10      angus  0.254795    1.0          0.0     0.0     0.5  1.754795  3.245205  1.146700
11   anicotti  0.076712    1.0          1.0     1.0     1.0  4.076712  0.923288  2.001471
12      ankha  0.347945    0.0          1.0     1.0     1.0  3.347945  1.652055  1.766654
13   annalisa  0.027397    0.0          1.0     1.0     1.0  3.027397  1.972603  1.732267
14   annalise  0.153425    1.0          1.0     1.0     0.5  3.653425  1.346575  1.809292
15    antonio  0.271233    1.0          1.0     1.0     0.5  3.771233  1.228767  1.823065
16     apollo  0.432877    1.0          0.0     0.5     0.5  2.432877  2.567123  1.298993
17      apple  0.342466    1.0          1.0     1.0     1.0  4.342466  0.657534  2.029109
18     astrid  0.386301    1.0          1.0     0.5     0.5  3.386301  1.613699  1.627645
19      audie  0.408219    1.0          1.0     1.0     1.0  4.408219  0.591781  2.041236
20     aurora  0.000000    1.0          1.0     1.0     1.0  4.000000  1.000000  2.000000
21        ava  0.249315    1.0          1.0     1.0     1.0  4.249315  0.750685  2.015480
22      avery  0.071233    1.0          0.0     1.0     1.0  3.071233  1.928767  1.733515
23       axel  0.150685    1.0          1.0     1.0     1.0  4.150685  0.849315  2.005668
24    baabara  0.164384    1.0          1.0     1.0     0.5  3.664384  1.335616  1.810255
25        bam  0.221918    1.0          1.0     1.0     1.0  4.221918  0.778082  2.012274
26     bangle  0.419178    1.0          1.0     1.0     1.0  4.419178  0.580822  2.043455
27     barold  0.093151    1.0          1.0     0.5     0.5  3.093151  1.906849  1.583880
28        bea  0.284932    0.0          1.0     0.5     1.0  2.784932  2.215068  1.526822
29     beardo  0.334247    1.0          1.0     1.0     0.5  3.834247  1.165753  1.833500
30       beau  0.186301    0.0          1.0     1.0     1.0  3.186301  1.813699  1.742041
31      becky  0.134247    1.0          1.0     1.0     1.0  4.134247  0.865753  2.004500
32      bella  0.082192    1.0          1.0     0.5     0.5  3.082192  1.917808  1.583274
33   benedict  0.298630    1.0          1.0     1.0     0.5  3.798630  1.201370  1.827342
34   benjamin  0.484932    0.0          1.0     1.0     1.0  3.484932  1.515068  1.798655
35     bertha  0.241096    1.0          1.0     1.0     1.0  4.241096  0.758904  2.014479
36    bettina  0.372603    1.0          1.0     1.0     1.0  4.372603  0.627397  2.034412
37     bianca  0.123288    1.0          1.0     1.0     1.0  4.123288  0.876712  2.003796
38       biff  0.167123    1.0          1.0     1.0     0.0  3.167123  1.832877  1.740095
39     bigtop  0.317808    1.0          1.0     1.0     1.0  4.317808  0.682192  2.025093
40       bill  0.013699    1.0          1.0     1.0     0.5  3.513699  1.486301  1.802828
41      billy  0.156164    1.0          1.0     1.0     0.5  3.656164  1.343836  1.809527
42     biskit  0.290411    1.0          1.0     1.0     1.0  4.290411  0.709589  2.020975
43      bitty  0.309589    1.0          1.0     1.0     1.0  4.309589  0.690411  2.023820
44     blaire  0.430137    1.0          1.0     1.0     1.0  4.430137  0.569863  2.045732
45    blanche  0.101370    0.0          1.0     1.0     0.5  2.601370  2.398630  1.503421
46   bluebear  0.405479    1.0          1.0     1.0     0.5  3.905479  1.094521  1.847813
47        bob  0.071233    1.0          1.0     1.0     1.0  4.071233  0.928767  2.001268
48     bonbon  0.095890    1.0          1.0     1.0     1.0  4.095890  0.904110  2.002297
49      bones  0.482192    1.0          1.0     1.0     1.0  4.482192  0.517808  2.057306
50     boomer  0.030137    1.0          1.0     0.5     1.0  3.530137  1.469863  1.803028
51      boone  0.375342    1.0          1.0     0.5     1.0  3.875342  1.124658  1.841435
52      boots  0.473973    1.0          1.0     1.0     1.0  4.473973  0.526027  2.055395
53      boris  0.224658    0.0          0.0     0.5     0.5  1.224658  3.775342  0.741937
54       boyd  0.323288    1.0          0.0     0.5     0.5  2.323288  2.676712  1.266694
55       bree  0.441096    1.0          1.0     1.0     0.0  3.441096  1.558904  1.787335
56   broccolo  0.421918    1.0          1.0     1.0     1.0  4.421918  0.578082  2.044019
57   broffina  0.260274    1.0          1.0     1.0     0.5  3.760274  1.239726  1.821467
58      bruce  0.326027    0.0          0.0     0.5     0.5  1.326027  3.673973  0.778649
59    bubbles  0.358904    1.0          1.0     1.0     1.0  4.358904  0.641096  2.031948
60       buck  0.183562    1.0          1.0     1.0     1.0  4.183562  0.816438  2.008406
61        bud  0.471233    1.0          1.0     1.0     1.0  4.471233  0.528767  2.054765
62     bunnie  0.279452    1.0          1.0     1.0     1.0  4.279452  0.720548  2.019429
63      butch  0.238356    1.0          0.0     0.5     0.5  2.238356  2.761644  1.247723
64       buzz  0.139726    0.0          0.0     1.0     1.0  2.139726  2.860274  1.421099
65      cally  0.397260    0.0          1.0     1.0     1.0  3.397260  1.602740  1.777024
66   camofrog  0.353425    1.0          0.0     0.5     0.5  2.353425  2.646575  1.274719
67   canberra  0.293151    1.0          1.0     0.5     1.0  3.793151  1.206849  1.826455
68      candi  0.208219    1.0          1.0     1.0     1.0  4.208219  0.791781  2.010810
69     carmen  0.057534    1.0          1.0     1.0     1.0  4.057534  0.942466  2.000827
70   caroline  0.463014    1.0          1.0     1.0     1.0  4.463014  0.536986  2.052896
71     carrie  0.145205    0.0          1.0     1.0     1.0  3.145205  1.854795  1.738127
72   cashmere  0.178082    1.0          1.0     1.0     1.0  4.178082  0.821918  2.007913
73      celia  0.156164    0.0          1.0     1.0     1.0  3.156164  1.843836  1.739077
74      cesar  0.391781    1.0          0.0     0.5     0.5  2.391781  2.608219  1.285882
75    chadder  0.117808    1.0          1.0     1.0     0.5  3.617808  1.382192  1.806621
76   charlise  0.219178    1.0          1.0     1.0     1.0  4.219178  0.780822  2.011974
77      cheri  0.134247    1.0          1.0     1.0     1.0  4.134247  0.865753  2.004500
78     cherry  0.284932    1.0          1.0     0.5     0.5  3.284932  1.715068  1.606607
79    chester  0.476712    1.0          1.0     1.0     1.0  4.476712  0.523288  2.056029
80     chevre  0.104110    1.0          1.0     1.0     1.0  4.104110  0.895890  2.002708
81      chief  0.106849    1.0          0.0     0.5     1.0  2.606849  2.393151  1.503801
82      chops  0.290411    1.0          1.0     1.0     1.0  4.290411  0.709589  2.020975
83       chow  0.482192    1.0          0.0     0.5     0.5  2.482192  2.517808  1.316248
84    chrissy  0.416438    1.0          1.0     1.0     1.0  4.416438  0.583562  2.042895
85     claude  0.150685    0.0          1.0     1.0     0.5  2.650685  2.349315  1.507550
86    claudia  0.180822    1.0          1.0     1.0     1.0  4.180822  0.819178  2.008158
87       clay  0.273973    0.0          1.0     1.0     1.0  3.273973  1.726027  1.753585
88       cleo  0.035616    1.0          1.0     1.0     1.0  4.035616  0.964384  2.000317
89      clyde  0.257534    1.0          1.0     1.0     1.0  4.257534  0.742466  2.016513
90      coach  0.252055    1.0          1.0     1.0     0.5  3.752055  1.247945  1.820311
91       cobb  0.306849    1.0          1.0     1.0     0.5  3.806849  1.193151  1.828704
92       coco  0.090411    1.0          1.0     1.0     1.0  4.090411  0.909589  2.002042
93       cole  0.465753    0.0          1.0     1.0     1.0  3.465753  1.534247  1.793579
94     colton  0.315068    0.0          1.0     1.0     0.5  2.815068  2.184932  1.532732
95     cookie  0.389041    1.0          1.0     1.0     1.0  4.389041  0.610959  2.037487
96   cousteau  0.112329    1.0          1.0     1.0     1.0  4.112329  0.887671  2.003152
97   cranston  0.345205    0.0          1.0     0.5     1.0  2.845205  2.154795  1.539210
98     croque  0.471233    0.0          0.0     0.5     1.0  1.971233  3.028767  1.213285
99       cube  0.005479    1.0          1.0     1.0     1.0  4.005479  0.994521  2.000008
100    curlos  0.276712    0.0          1.0     1.0     1.0  3.276712  1.723288  1.754015
101     curly  0.493151    1.0          1.0     1.0     1.0  4.493151  0.506849  2.059902
102      curt  0.424658    0.0          0.0     0.0     0.5  0.924658  4.075342  0.655998
103       cyd  0.364384    1.0          0.0     0.5     0.5  2.364384  2.635616  1.277801
104    cyrano  0.112329    1.0          0.0     0.5     1.0  2.612329  2.387671  1.504200
105     daisy  0.197260    1.0          1.0     1.0     0.5  3.697260  1.302740  1.813536
106     deena  0.413699    1.0          1.0     1.0     0.5  3.913699  1.086301  1.849634
107   deirdre  0.265753    1.0          1.0     1.0     1.0  4.265753  0.734247  2.017579
108       del  0.328767    1.0          0.0     0.5     0.5  2.328767  2.671233  1.268104
109      deli  0.320548    0.0          1.0     1.0     1.0  3.320548  1.679452  1.761463
110    derwin  0.323288    1.0          1.0     1.0     1.0  4.323288  0.676712  2.025960
111     diana  0.063014    1.0          1.0     1.0     1.0  4.063014  0.936986  2.000992
112      diva  0.320548    1.0          1.0     1.0     1.0  4.320548  0.679452  2.025525
113     dizzy  0.460274    1.0          1.0     1.0     0.5  3.960274  1.039726  1.860605
114     dobie  0.057534    0.0          0.0     0.5     1.0  1.557534  3.442466  1.119513
115       doc  0.131507    1.0          1.0     1.0     1.0  4.131507  0.868493  2.004319
116       dom  0.136986    1.0          1.0     1.0     1.0  4.136986  0.863014  2.004686
117      dora  0.060274    1.0          1.0     1.0     0.5  3.560274  1.439726  1.803783
118     dotty  0.126027    1.0          1.0     1.0     0.0  3.126027  1.873973  1.736630
119     drago  0.043836    0.0          1.0     1.0     1.0  3.043836  1.956164  1.732605
120     drake  0.408219    1.0          1.0     0.5     1.0  3.908219  1.091781  1.848416
121     drift  0.301370    1.0          1.0     1.0     1.0  4.301370  0.698630  2.022579
122        ed  0.364384    0.0          1.0     1.0     0.5  2.864384  2.135616  1.543624
123    egbert  0.287671    1.0          1.0     1.0     1.0  4.287671  0.712329  2.020583
124     elise  0.145205    1.0          1.0     1.0     1.0  4.145205  0.854795  2.005264
125     ellie  0.287671    0.0          1.0     1.0     1.0  3.287671  1.712329  1.755778
126     elmer  0.312329    1.0          1.0     0.5     0.5  3.312329  1.687671  1.611691
127    eloise  0.136986    1.0          1.0     1.0     1.0  4.136986  0.863014  2.004686
128     elvis  0.484932    1.0          0.0     1.0     0.5  2.984932  2.015068  1.576439
129      erik  0.495890    0.0          1.0     1.0     1.0  3.495890  1.504110  1.801640
130    eugene  0.254795    1.0          1.0     0.5     0.5  3.254795  1.745205  1.601537
131    eunice  0.180822    1.0          1.0     1.0     1.0  4.180822  0.819178  2.008158
132      fang  0.109589    1.0          0.0     0.5     1.0  2.609589  2.390411  1.503998
133     fauna  0.158904    0.0          1.0     1.0     1.0  3.158904  1.841096  1.739325
134  felicity  0.169863    1.0          1.0     1.0     1.0  4.169863  0.830137  2.007200
135   filbert  0.347945    0.0          1.0     1.0     0.5  2.847945  2.152055  1.539827
136      flip  0.183562    1.0          1.0     1.0     0.5  3.683562  1.316438  1.812097
137       flo  0.402740    1.0          1.0     0.5     1.0  3.902740  1.097260  1.847214
138     flora  0.035616    1.0          1.0     1.0     1.0  4.035616  0.964384  2.000317
139    flurry  0.008219    0.0          1.0     1.0     1.0  3.008219  1.991781  1.732070
140  francine  0.013699    1.0          1.0     1.0     0.0  3.013699  1.986301  1.732105
141     frank  0.495890    1.0          0.0     0.5     1.0  2.995890  2.004110  1.579844
142  freckles  0.063014    1.0          1.0     1.0     1.0  4.063014  0.936986  2.000992
143     freya  0.120548    1.0          1.0     0.5     0.5  3.120548  1.879452  1.585728
144     friga  0.282192    1.0          1.0     1.0     0.5  3.782192  1.217808  1.824728
145     frita  0.465753    1.0          1.0     1.0     1.0  4.465753  0.534247  2.053516
146   frobert  0.032877    1.0          1.0     1.0     0.5  3.532877  1.467123  1.803075
147   fuchsia  0.356164    1.0          1.0     0.0     1.0  3.356164  1.643836  1.768291
148      gabi  0.115068    1.0          1.0     1.0     1.0  4.115068  0.884932  2.003307
149      gala  0.101370    1.0          1.0     1.0     1.0  4.101370  0.898630  2.002567
150    gaston  0.249315    1.0          0.0     1.0     1.0  3.249315  1.750685  1.749902
151     gayle  0.301370    0.0          1.0     1.0     1.0  3.301370  1.698630  1.758074
152     genji  0.016438    1.0          1.0     1.0     1.0  4.016438  0.983562  2.000068
153      gigi  0.463014    1.0          1.0     1.0     0.5  3.963014  1.036986  1.861285
154    gladys  0.032877    1.0          1.0     1.0     1.0  4.032877  0.967123  2.000270
155    gloria  0.460274    1.0          1.0     1.0     0.5  3.960274  1.039726  1.860605
156    goldie  0.084932    0.0          1.0     1.0     1.0  3.084932  1.915068  1.734132
157     gonzo  0.290411    0.0          0.0     0.5     0.5  1.290411  3.709589  0.764420
158     goose  0.315068    1.0          1.0     1.0     0.5  3.815068  1.184932  1.830101
159    graham  0.394521    1.0          1.0     0.5     1.0  3.894521  1.105479  1.845439
160     greta  0.394521    1.0          1.0     1.0     1.0  4.394521  0.605479  2.038540
161   grizzly  0.493151    1.0          0.0     0.5     0.5  2.493151  2.506849  1.320302
162   groucho  0.263014    1.0          0.0     0.5     0.5  2.263014  2.736986  1.252668
163     gruff  0.413699    1.0          0.0     0.5     0.5  2.413699  2.586301  1.292728
164      gwen  0.010959    1.0          1.0     1.0     1.0  4.010959  0.989041  2.000030
165    hamlet  0.336986    1.0          1.0     1.0     0.5  3.836986  1.163014  1.834001
166  hamphrey  0.079452    0.0          0.0     0.5     1.0  1.579452  3.420548  1.120854
167      hans  0.145205    1.0          1.0     1.0     0.5  3.645205  1.354795  1.808614
168     harry  0.054795    1.0          0.0     0.5     1.0  2.554795  2.445205  1.501000
169     hazel  0.410959    1.0          1.0     1.0     1.0  4.410959  0.589041  2.041785
170     henry  0.350685    1.0          1.0     0.5     0.5  3.350685  1.649315  1.619562
171   hippeux  0.284932    1.0          1.0     1.0     1.0  4.284932  0.715068  2.020195
172   hopkins  0.117808    0.0          1.0     1.0     0.5  2.617808  2.382192  1.504619
173    hopper  0.189041    1.0          0.0     0.5     1.0  2.689041  2.310959  1.511865
174   hornsby  0.142466    0.0          1.0     1.0     1.0  3.142466  1.857534  1.737900
175      huck  0.446575    1.0          1.0     0.5     1.0  3.946575  1.053425  1.857264
176      hugh  0.076712    1.0          1.0     1.0     1.0  4.076712  0.923288  2.001471
177     iggly  0.235616    1.0          1.0     1.0     0.5  3.735616  1.264384  1.818108
178       ike  0.298630    0.0          0.0     0.0     0.5  0.798630  4.201370  0.582392
179     jacob  0.427397    0.0          1.0     1.0     1.0  3.427397  1.572603  1.784003
180   jacques  0.400000    1.0          1.0     0.5     0.5  3.400000  1.600000  1.630951
181  jambette  0.252055    1.0          1.0     0.0     1.0  3.252055  1.747945  1.750295
182       jay  0.468493    1.0          1.0     1.0     0.5  3.968493  1.031507  1.862656
183  jeremiah  0.443836    1.0          1.0     1.0     1.0  4.443836  0.556164  2.048656
184   jitters  0.016438    1.0          1.0     1.0     1.0  4.016438  0.983562  2.000068
185      joey  0.065753    1.0          1.0     1.0     0.5  3.565753  1.434247  1.803974
186      judy  0.115068    1.0          1.0     1.0     1.0  4.115068  0.884932  2.003307
187     julia  0.493151    1.0          1.0     1.0     1.0  4.493151  0.506849  2.059902
188    julian  0.128767    1.0          1.0     0.5     0.5  3.128767  1.871233  1.586374
189      june  0.312329    0.0          1.0     1.0     1.0  3.312329  1.687671  1.759986
190    kabuki  0.161644    1.0          0.0     1.0     1.0  3.161644  1.838356  1.739577
191      katt  0.246575    1.0          1.0     0.0     0.5  2.746575  2.253425  1.520131
192    keaton  0.342466    1.0          1.0     0.5     0.5  3.342466  1.657534  1.617802
193       ken  0.095890    1.0          1.0     0.5     0.5  3.095890  1.904110  1.584044
194   ketchup  0.495890    1.0          1.0     1.0     1.0  4.495890  0.504110  2.060560
195     kevin  0.243836    1.0          1.0     1.0     0.5  3.743836  1.256164  1.819191
196    kidcat  0.490411    1.0          1.0     1.0     1.0  4.490411  0.509589  2.059248
197      kidd  0.416438    1.0          1.0     0.5     1.0  3.916438  1.083562  1.850249
198      kiki  0.304110    1.0          1.0     1.0     1.0  4.304110  0.695890  2.022989
199      kitt  0.295890    1.0          1.0     1.0     1.0  4.295890  0.704110  2.021769
200     kitty  0.052055    1.0          1.0     1.0     1.0  4.052055  0.947945  2.000677
201     klaus  0.172603    1.0          1.0     1.0     1.0  4.172603  0.827397  2.007434
202      knox  0.178082    1.0          0.0     1.0     1.0  3.178082  1.821918  1.741182
203      kody  0.331507    1.0          1.0     1.0     1.0  4.331507  0.668493  2.027288
204      kyle  0.142466    1.0          1.0     0.5     0.5  3.142466  1.857534  1.587544
205  leonardo  0.295890    1.0          1.0     1.0     0.5  3.795890  1.204110  1.826897
206   leopold  0.454795    1.0          1.0     1.0     1.0  4.454795  0.545205  2.051058
207      lily  0.021918    1.0          1.0     1.0     1.0  4.021918  0.978082  2.000120
208   limberg  0.279452    1.0          0.0     0.5     0.5  2.279452  2.720548  1.256222
209    lionel  0.498630    1.0          1.0     1.0     1.0  4.498630  0.501370  2.061221
210      lobo  0.227397    1.0          0.0     0.5     0.5  2.227397  2.772603  1.245676
211     lolly  0.161644    1.0          1.0     1.0     1.0  4.161644  0.838356  2.006522
212     lopez  0.438356    1.0          1.0     1.0     1.0  4.438356  0.561644  2.047476
213     louie  0.158904    1.0          1.0     1.0     1.0  4.158904  0.841096  2.006303
214     lucha  0.126027    1.0          1.0     0.5     0.5  3.126027  1.873973  1.586153
215     lucky  0.230137    1.0          1.0     1.0     1.0  4.230137  0.769863  2.013197
216      lucy  0.345205    1.0          1.0     1.0     1.0  4.345205  0.654795  2.029573
217     lyman  0.293151    1.0          1.0     1.0     1.0  4.293151  0.706849  2.021370
218       mac  0.210959    1.0          1.0     0.5     0.5  3.210959  1.789041  1.595150
219    maddie  0.043836    1.0          1.0     1.0     1.0  4.043836  0.956164  2.000480
220    maelle  0.194521    1.0          1.0     0.5     1.0  3.694521  1.305479  1.813240

In [79]:
vectors.to_csv('./datasets/sample_vectors_admiral.csv', index=False)

In [80]:
print(vectors.sort_values(by='distance', axis=0).head().to_string())

          id  birthday  hobby  personality  styles  colors       sum     score  distance
0    admiral  0.000000    0.0          0.0     0.0     0.0  0.000000  5.000000  0.000000
178      ike  0.597260    0.0          0.0     0.0     0.5  1.097260  3.902740  0.778922
53     boris  0.449315    0.0          0.0     0.5     0.5  1.449315  3.550685  0.837785
157    gonzo  0.580822    0.0          0.0     0.5     0.5  1.580822  3.419178  0.915071
58     bruce  0.652055    0.0          0.0     0.5     0.5  1.652055  3.347945  0.961860

In [81]:
print(vectors.sort_values(by='distance', axis=0).tail().to_string())

           id  birthday  hobby  personality  styles  colors       sum     score  distance
187     julia  0.986301    1.0          1.0     1.0     1.0  4.986301  0.013699  2.229975
101     curly  0.986301    1.0          1.0     1.0     1.0  4.986301  0.013699  2.229975
194   ketchup  0.991781    1.0          1.0     1.0     1.0  4.991781  0.008219  2.232404
365  truffles  0.997260    1.0          1.0     1.0     1.0  4.997260  0.002740  2.234844
209    lionel  0.997260    1.0          1.0     1.0     1.0  4.997260  0.002740  2.234844

In [75]:
print(REF.birthday)
print(chars.at[178, 'birthday'])
diff_dob(
  datetime.date(TODAY_YEAR, 1, 27).timetuple().tm_yday,
  datetime.date(TODAY_YEAR, 5, 16).timetuple().tm_yday
)

01-27
05-16

109