In [1]:
from os import path
import os
from pprint import pprint


import pandas as pd
import numpy as np

In [5]:
characters = pd.read_excel('./datasets/characters.xlsx')
characters

,Unnamed: 0,id,special,name_en,name_ko,image_icon,image_photo,image_house,species,gender,...,personality,personality_subtype,hobby,catchphrase,favorite_song,favorite_saying,styles,colors,tier,rank
0,0,admiral,False,Admiral,일섭,https://acnhcdn.com/latest/NpcIcon/brd06.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlBr...,https://acnhcdn.com/drivesync/render/houses/br...,Bird,Male,...,무뚝뚝,A,자연,aye aye,Steep Hill,Only quitters give up.,['쿨'],"['검정색', '파랑색']",6.0,89.0
1,1,agents,False,Agent S,2호,https://acnhcdn.com/latest/NpcIcon/squ05.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlSq...,https://acnhcdn.com/drivesync/render/houses/sq...,Squirrel,Female,...,아이돌,B,운동,sidekick,Go K.K. Rider,You gotta put the pedal to the metal!,"['심플', '액티브']","['검정색', '파랑색']",6.0,45.0
2,2,agnes,False,Agnes,아그네스,https://acnhcdn.com/latest/NpcIcon/pig17.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlPi...,https://acnhcdn.com/drivesync/render/houses/pi...,Pig,Female,...,단순 활발,A,놀이,snuffle,K.K. House,You reap what you sow.,"['심플', '엘레강스']","['하양색', '핑크색']",4.0,26.0
3,3,al,False,Al,우락,https://acnhcdn.com/latest/NpcIcon/gor08.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlGo...,https://acnhcdn.com/drivesync/render/houses/go...,Gorilla,Male,...,먹보,B,운동,ayyyeee,Go K.K. Rider,Life is a buffet. Always go back for seconds.,['액티브'],"['하양색', '빨강색']",6.0,19.0
4,4,alfonso,False,Alfonso,알베르트,https://acnhcdn.com/latest/NpcIcon/crd00.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlCr...,https://acnhcdn.com/drivesync/render/houses/cr...,Alligator,Male,...,먹보,B,놀이,it'sa me,Forest Life,Slow and steady wins the race.,['심플'],"['빨강색', '파랑색']",6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,448,wolfgang,False,Wolfgang,로보,https://acnhcdn.com/latest/NpcIcon/wol02.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlWo...,https://acnhcdn.com/drivesync/render/houses/wo...,Wolf,Male,...,무뚝뚝,B,교육,snarrrl,K.K. D&B,Don't be afraid to show your fangs.,"['액티브', '쿨']","['초록색', '검정색']",3.0,15.0
448,449,yuka,False,Yuka,유카리,https://acnhcdn.com/latest/NpcIcon/kal00.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlKa...,https://acnhcdn.com/drivesync/render/houses/ka...,Koala,Female,...,성숙함,B,패션,tsk tsk,Soulful K.K.,Beauty is in the eye of the beholder.,"['엘레강스', '쿨']","['오렌지색', '노랑색']",5.0,103.0
449,450,zell,False,Zell,넬슨,https://acnhcdn.com/latest/NpcIcon/der02.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlDe...,https://acnhcdn.com/drivesync/render/houses/de...,Deer,Male,...,느끼함,A,음악,pronk,K.K. Swing,Clothes totally make the mammal.,"['고져스', '쿨']","['보라색', '회색']",3.0,30.0
450,451,zipper,True,Zipper,토빗,https://acnhcdn.com/latest/NpcIcon/pyn.png,https://acnhcdn.com/latest/NpcPoster/NpcSpPyn.png,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,452,zucker,False,Zucker,탁호,https://acnhcdn.com/latest/NpcIcon/ocp02.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlOc...,https://acnhcdn.com/drivesync/render/houses/oc...,Octopus,Male,...,먹보,A,자연,bloop,Spring Blossoms,There's no such thing as luck.,"['심플', '큐트']","['파랑색', '노랑색']",1.0,8.0

## personality

In [13]:
characters.groupby('personality').size().reset_index(name='personality_counts')

  personality  counts
0         느끼함      34
1       단순 활발      24
2          먹보      60
3         무뚝뚝      55
4         성숙함      55
5         아이돌      49
6         운동광      55
7         친절함      59

# Hobby

In [85]:
characters.groupby('hobby').size().reset_index(name='hobby_counts')

  hobby  hobby_counts
0    교육            64
1    놀이            65
2    운동            66
3    음악            64
4    자연            66
5    패션            66

# Birthday

In [40]:
# 생일 같은 주민이 있는지 확인 => 존재 (최대 3명까지 겹침. 06-07)
birth = characters.groupby('birthday').size().reset_index(name='counts')
birth
# birth.loc[birth['counts'].idxmax()]

# 생일이 없는 날이 있는지 확인 => 없는 날 04-01

    birthday  counts
0      01-01       1
1      01-02       2
2      01-03       1
3      01-04       1
4      01-05       1
5      01-06       1
6      01-07       1
7      01-08       2
8      01-09       1
9      01-10       1
10     01-11       1
11     01-12       1
12     01-13       1
13     01-14       1
14     01-15       1
15     01-16       1
16     01-17       1
17     01-18       1
18     01-19       1
19     01-20       1
20     01-21       1
21     01-22       1
22     01-23       1
23     01-24       1
24     01-25       1
25     01-26       2
26     01-27       2
27     01-28       1
28     01-29       1
29     01-30       1
30     01-31       2
31     02-01       2
32     02-02       1
33     02-03       1
34     02-04       1
35     02-05       1
36     02-06       1
37     02-07       1
38     02-08       2
39     02-09       2
40     02-10       1
41     02-11       1
42     02-12       1
43     02-13       1
44     02-14       1
45     02-15       1
46     02-16       1
47     02-17       1
48     02-18       1
49     02-19       1
50     02-20       1
51     02-21       1
52     02-22       1
53     02-23       1
54     02-24       1
55     02-25       2
56     02-26       2
57     02-27       1
58     02-28       1
59     02-29       1
60     03-01       1
61     03-02       1
62     03-03       2
63     03-04       1
64     03-05       1
65     03-06       1
66     03-07       2
67     03-08       2
68     03-09       1
69     03-10       1
70     03-11       2
71     03-12       1
72     03-13       1
73     03-14       1
74     03-15       1
75     03-16       1
76     03-17       1
77     03-18       1
78     03-19       2
79     03-20       1
80     03-21       1
81     03-22       1
82     03-23       1
83     03-24       1
84     03-25       2
85     03-26       2
86     03-27       1
87     03-28       1
88     03-29       1
89     03-30       2
90     03-31       1
91     04-02       2
92     04-03       1
93     04-04       1
94     04-05       1
95     04-06       2
96     04-07       1
97     04-08       1
98     04-09       1
99     04-10       1
100    04-11       1
101    04-12       1
102    04-13       1
103    04-14       1
104    04-15       1
105    04-16       1
106    04-17       2
107    04-18       1
108    04-19       1
109    04-20       1
110    04-21       1
111    04-22       1
112    04-23       2
113    04-24       1
114    04-25       1
115    04-26       1
116    04-27       1
117    04-28       1
118    04-29       1
119    04-30       1
120    05-01       2
121    05-02       1
122    05-03       1
123    05-04       1
124    05-05       1
125    05-06       1
126    05-07       1
127    05-08       1
128    05-09       1
129    05-10       2
130    05-11       1
131    05-12       1
132    05-13       1
133    05-14       1
134    05-15       1
135    05-16       1
136    05-17       1
137    05-18       1
138    05-19       1
139    05-20       1
140    05-21       1
141    05-22       2
142    05-23       1
143    05-24       1
144    05-25       2
145    05-26       1
146    05-27       1
147    05-28       1
148    05-29       1
149    05-30       2
150    05-31       1
151    06-01       1
152    06-02       1
153    06-03       1
154    06-04       1
155    06-05       1
156    06-06       2
157    06-07       3
158    06-08       1
159    06-09       2
160    06-10       1
161    06-11       1
162    06-12       1
163    06-13       1
164    06-14       1
165    06-15       1
166    06-16       1
167    06-17       2
168    06-18       1
169    06-19       1
170    06-20       2
171    06-21       1
172    06-22       1
173    06-23       1
174    06-24       1
175    06-25       1
176    06-26       1
177    06-27       1
178    06-28       2
179    06-29       1
180    06-30       2
181    07-01       1
182    07-02       1
183    07-03       1
184    07-04       2
185    07-05       2
186    07-06       1
187    07-07       1
188    07-08       1
189    07-09       2
190    07-10       1
191    07-11       1
192    07-12       2
193    07-13       1
194    07-14       1
195    07-15       1
196    07-16       1
197    07-17       1
198    07-18       1
199    07-19       2
200    07-20       1
201    07-21       1
202    07-22       1
203    07-23       1
204    07-24       2
205    07-25       2
206    07-26       1
207    07-27       2
208    07-28       1
209    07-29       1
210    07-30       1
211    07-31       2
212    08-01       1
213    08-02       2
214    08-03       2
215    08-04       1
216    08-05       1
217    08-06       1
218    08-07       2
219    08-08       2
220    08-09       1
221    08-10       1
222    08-11       1
223    08-12       1
224    08-13       1
225    08-14       2
226    08-15       1
227    08-16       2
228    08-17       1
229    08-18       1
230    08-19       2
231    08-20       1
232    08-21       1
233    08-22       1
234    08-23       3
235    08-24       2
236    08-25       1
237    08-26       1
238    08-27       1
239    08-28       1
240    08-29       1
241    08-30       1
242    08-31       1
243    09-01       1
244    09-02       1
245    09-03       2
246    09-04       1
247    09-05       1
248    09-06       1
249    09-07       2
250    09-08       1
251    09-09       1
252    09-10       1
253    09-11       1
254    09-12       2
255    09-13       1
256    09-14       1
257    09-15       1
258    09-16       1
259    09-17       1
260    09-18       1
261    09-19       1
262    09-20       2
263    09-21       1
264    09-22       1
265    09-23       1
266    09-24       2
267    09-25       1
268    09-26       2
269    09-27       1
270    09-28       1
271    09-29       1
272    09-30       1
273    10-01       2
274    10-02       2
275    10-03       1
276    10-04       1
277    10-05       1
278    10-06       2
279    10-07       1
280    10-08       1
281    10-09       1
282    10-10       2
283    10-11       1
284    10-12       2
285    10-13       2
286    10-14       1
287    10-15       3
288    10-16       1
289    10-17       1
290    10-18       2
291    10-19       1
292    10-20       1
293    10-21       2
294    10-22       2
295    10-23       1
296    10-24       2
297    10-25       1
298    10-26       1
299    10-27       1
300    10-28       2
301    10-29       1
302    10-30       1
303    10-31       2
304    11-01       1
305    11-02       1
306    11-03       1
307    11-04       1
308    11-05       1
309    11-06       1
310    11-07       1
311    11-08       1
312    11-09       1
313    11-10       2
314    11-11       1
315    11-12       1
316    11-13       1
317    11-14       2
318    11-15       1
319    11-16       1
320    11-17       1
321    11-18       1
322    11-19       1
323    11-20       1
324    11-21       2
325    11-22       2
326    11-23       1
327    11-24       1
328    11-25       1
329    11-26       1
330    11-27       1
331    11-28       1
332    11-29       1
333    11-30       2
334    12-01       2
335    12-02       1
336    12-03       1
337    12-04       1
338    12-05       2
339    12-06       1
340    12-07       2
341    12-08       1
342    12-09       2
343    12-10       1
344    12-11       1
345    12-12       1
346    12-13       1
347    12-14       1
348    12-15       1
349    12-16       1
350    12-17       1
351    12-18       1
352    12-19       1
353    12-20       3
354    12-21       1
355    12-22       1
356    12-23       1
357    12-24       1
358    12-25       1
359    12-26       1
360    12-27       1
361    12-28       1
362    12-29       2
363    12-30       1
364    12-31       2

## Birthday MM
생일별 달 분포

In [61]:
birth.birthday.str.split('-').str[0].reset_index(name='month')
birth.groupby('month').size().reset_index(name='month_counts')

   month  month_count
0     01           31
1     02           29
2     03           31
3     04           29
4     05           31
5     06           30
6     07           31
7     08           31
8     09           30
9     10           31
10    11           30
11    12           31

## Birthday Day
생일별 일 분포 <br>

In [84]:
# day 비교 => 01 은 11개 04-01이 없음 / 31은 7개 1, 3, 5, 7, 8, 10, 12
birth.groupby(birth.birthday.str.split('-').str[1]).size().reset_index(name='day_counts')

   birthday  day
0        01   11
1        02   12
2        03   12
3        04   12
4        05   12
5        06   12
6        07   12
7        08   12
8        09   12
9        10   12
10       11   12
11       12   12
12       13   12
13       14   12
14       15   12
15       16   12
16       17   12
17       18   12
18       19   12
19       20   12
20       21   12
21       22   12
22       23   12
23       24   12
24       25   12
25       26   12
26       27   12
27       28   12
28       29   12
29       30   11
30       31    7

# Styles

In [110]:
# Style 1
villagers = pd.read_excel('./datasets/villagers.xlsx')
villagers.groupby('Style 1').size().reset_index(name='style1_counts')

    Style 1  style1_count
0    Active            50
1      Cool            68
2      Cute            63
3   Elegant            54
4  Gorgeous            38
5    Simple           118

In [111]:
# Style 2
villagers.groupby('Style 2').size().reset_index(name='style2_counts')

    Style 2  style2_index
0    Active            50
1      Cool            59
2      Cute            62
3   Elegant            56
4  Gorgeous            54
5    Simple           110

In [112]:
# Style 1, 2 그룹핑
villagers.groupby(['Style 1', 'Style 2']).size().reset_index(name='styles_counts')

     Style 1   Style 2  sum_index
0     Active    Active          6
1     Active      Cool         10
2     Active      Cute          5
3     Active   Elegant          1
4     Active  Gorgeous          2
5     Active    Simple         26
6       Cool    Active         12
7       Cool      Cool          9
8       Cool   Elegant          8
9       Cool  Gorgeous         14
10      Cool    Simple         25
11      Cute    Active          8
12      Cute      Cute         16
13      Cute   Elegant         15
14      Cute  Gorgeous          7
15      Cute    Simple         17
16   Elegant    Active          2
17   Elegant      Cool         12
18   Elegant      Cute          7
19   Elegant   Elegant          1
20   Elegant  Gorgeous         26
21   Elegant    Simple          6
22  Gorgeous    Active          3
23  Gorgeous      Cool          8
24  Gorgeous      Cute          3
25  Gorgeous   Elegant         20
26  Gorgeous  Gorgeous          1
27  Gorgeous    Simple          3
28    Simple    Active         19
29    Simple      Cool         20
30    Simple      Cute         31
31    Simple   Elegant         11
32    Simple  Gorgeous          4
33    Simple    Simple         33

# Color

In [120]:
# Color 1
villagers.groupby('Color 1').size().reset_index(name='color1_counts')

       Color 1  color1_counts
0        Beige             17
1        Black             47
2         Blue             46
3        Brown             15
4     Colorful             17
5         Gray             15
6        Green             44
7   Light blue             21
8       Orange             19
9         Pink             29
10      Purple             30
11         Red             43
12       White             17
13      Yellow             31

In [121]:
# Color 2
villagers.groupby('Color 2').size().reset_index(name='color2_counts')

       Color 2  color2_counts
0        Beige             18
1        Black             25
2         Blue             38
3        Brown             16
4     Colorful             17
5         Gray             29
6        Green             24
7   Light blue             21
8       Orange             22
9         Pink             24
10      Purple             23
11         Red             53
12       White             45
13      Yellow             36

In [122]:
# Color 1, 2
villagers.groupby(['Color 1', 'Color 2']).size().reset_index(name='colors_counts')

        Color 1     Color 2  colors_counts
0         Beige        Blue              1
1         Beige       Brown              4
2         Beige        Gray              1
3         Beige       Green              2
4         Beige      Orange              3
5         Beige         Red              2
6         Beige       White              2
7         Beige      Yellow              2
8         Black       Beige              1
9         Black       Black              1
10        Black        Blue              4
11        Black       Brown              1
12        Black    Colorful              2
13        Black        Gray             16
14        Black       Green              2
15        Black      Orange              1
16        Black      Purple              4
17        Black         Red              6
18        Black       White              7
19        Black      Yellow              2
20         Blue       Black              7
21         Blue    Colorful              1
22         Blue        Gray              1
23         Blue       Green              1
24         Blue  Light blue              9
25         Blue      Purple              7
26         Blue         Red              7
27         Blue       White             10
28         Blue      Yellow              3
29        Brown       Beige              5
30        Brown        Blue              1
31        Brown       Brown              1
32        Brown       Green              2
33        Brown      Orange              1
34        Brown         Red              3
35        Brown      Yellow              2
36     Colorful        Blue              2
37     Colorful       Brown              1
38     Colorful  Light blue              1
39     Colorful      Orange              1
40     Colorful        Pink              2
41     Colorful      Purple              2
42     Colorful         Red              4
43     Colorful       White              3
44     Colorful      Yellow              1
45         Gray       Beige              2
46         Gray       Black              1
47         Gray        Blue              3
48         Gray       Brown              1
49         Gray        Gray              1
50         Gray  Light blue              1
51         Gray        Pink              2
52         Gray      Purple              1
53         Gray         Red              1
54         Gray       White              2
55        Green       Beige              1
56        Green       Black              1
57        Green        Blue              7
58        Green       Brown              4
59        Green    Colorful              2
60        Green        Gray              3
61        Green       Green              1
62        Green  Light blue              2
63        Green      Orange              3
64        Green        Pink              3
65        Green      Purple              2
66        Green         Red              4
67        Green       White              4
68        Green      Yellow              7
69   Light blue        Blue              7
70   Light blue        Gray              1
71   Light blue       Green              1
72   Light blue        Pink              1
73   Light blue      Purple              2
74   Light blue       White              4
75   Light blue      Yellow              5
76       Orange        Blue              1
77       Orange       Brown              2
78       Orange    Colorful              1
79       Orange       Green              2
80       Orange  Light blue              1
81       Orange      Orange              1
82       Orange      Purple              1
83       Orange         Red              5
84       Orange      Yellow              5
85         Pink       Beige              1
86         Pink       Black              1
87         Pink        Blue              1
88         Pink    Colorful              1
89         Pink       Green              1
90         Pink  Light blue              2
91         Pink      Orange              2
92         Pink        Pink              2
93         Pink      Purple              2
94         Pink         Red              8
95         Pink       White              8
96       Purple       Beige              2
97       Purple       Black              5
98       Purple        Blue              4
99       Purple       Brown              1
100      Purple    Colorful              1
101      Purple        Gray              1
102      Purple       Green              2
103      Purple  Light blue              1
104      Purple        Pink              6
105      Purple         Red              5
106      Purple       White              1
107      Purple      Yellow              1
108         Red       Beige              1
109         Red       Black              6
110         Red        Blue              4
111         Red    Colorful              5
112         Red        Gray              1
113         Red       Green              5
114         Red      Orange              3
115         Red        Pink              6
116         Red      Purple              2
117         Red         Red              1
118         Red       White              2
119         Red      Yellow              7
120       White       Beige              1
121       White       Black              1
122       White        Blue              2
123       White        Gray              3
124       White       Green              2
125       White  Light blue              2
126       White        Pink              1
127       White         Red              4
128       White      Yellow              1
129      Yellow       Beige              4
130      Yellow       Black              2
131      Yellow        Blue              1
132      Yellow       Brown              1
133      Yellow    Colorful              4
134      Yellow        Gray              1
135      Yellow       Green              3
136      Yellow  Light blue              2
137      Yellow      Orange              7
138      Yellow        Pink              1
139      Yellow         Red              3
140      Yellow       White              2